{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Optimizador - Panel de Control de Optimización de Materiales</title>
    <!-- Favicon principal -->
    <link rel="icon" type="image/png" sizes="144x144" href="{% static 'images/home-eight/icono (144 x 144 px).png' %}">
    <link rel="shortcut icon" href="{% static 'images/home-eight/icono (144 x 144 px).png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/home-eight/icono (144 x 144 px).png' %}">
    <!-- Google Fonts: Anton for display titles -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <!-- remix icon font css  -->
    <link rel="stylesheet" href="/static/css/remixicon.css">
    <!-- BootStrap css -->
    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css">
    <!-- Apex Chart css -->
    <link rel="stylesheet" href="/static/css/lib/apexcharts.css">
    <!-- Data Table css -->
    <link rel="stylesheet" href="/static/css/lib/dataTables.min.css">
    <!-- Text Editor css -->
    <link rel="stylesheet" href="/static/css/lib/editor-katex.min.css">
    <link rel="stylesheet" href="/static/css/lib/editor.atom-one-dark.min.css">
    <link rel="stylesheet" href="/static/css/lib/editor.quill.snow.css">
    <!-- Date picker css -->
    <link rel="stylesheet" href="/static/css/lib/flatpickr.min.css">
    <!-- Calendar css -->
    <link rel="stylesheet" href="/static/css/lib/full-calendar.css">
    <!-- Vector Map css -->
    <link rel="stylesheet" href="/static/css/lib/jquery-jvectormap-2.0.5.css">
    <!-- Popup css -->
    <link rel="stylesheet" href="/static/css/lib/magnific-popup.css">
    <!-- Slick Slider css -->
    <link rel="stylesheet" href="/static/css/lib/slick.css">
    <!-- prism css -->
    <link rel="stylesheet" href="/static/css/lib/prism.css">
    <!-- file upload css -->
    <link rel="stylesheet" href="/static/css/lib/file-upload.css">

    <link rel="stylesheet" href="/static/css/lib/audioplayer.css">
    <!-- main css -->
    <link rel="stylesheet" href="/static/css/style.css">
    
</head>