# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.mypy_cache/
.ruff_cache/
.pytype/
.env
.venv
.venv*/
env/
venv/
ENV/
*~

# Django
*.log
*.pot
*.pyc
*.sqlite3
media/
staticfiles/
logs/
local_settings.py

# VS Code
.vscode/
.settings/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Coverage & test
htmlcov/
.coverage
.coverage.*
coverage.xml
.tox/
.pytest_cache/
.hypothesis/

# Node
node_modules/

# Build
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Local configs
*.local
*.bak
*.tmp
**/.env
**/.env.local
**/.ipynb_checkpoints/

# Cache
.cache/

# Project specifics
Django/db.sqlite3
Django/media/
**/__pycache__/
**/*.sqlite3
**/backup_optimizador_*/
**/backup_optimizador_*.zip
